---
import Layout from "../layouts/Layout.astro";
export const prerender = true;

export const getStaticPaths = () => {
  return [
    { params: { id: '1' } },
    { params: { id: '2' } },
    { params: { id: '3' } },
    { params: { id: '4' } },
  ];
}

const id = Astro.params.id;
const next = Number(id) + 1;
---

<Layout heading="Items" title ="Items">
  <p>You are at {id}.</p>
  <a href={`/${next}`}>Next</a>
</Layout>